
* {
    box-sizing: border-box;
    vertical-align: baseline;
    
}

@font-face {
    font-family:"standorf";
    src: url(../assets/STANFORD\ FREE.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fa-instagram::before{
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    border-radius: 8px;
}
.fa-facebook:before{
    color: rgb(0, 111, 185);
}
.fa-twitter::before{
    color: #4fc7ff;
}


.Alineación {
    overflow:hidden; 
    position: fixed;
    text-align:center;
    text-align-last: center;
    top: 0;
    width: 100%;
    z-index: 100;
}

.main_header {
	background: -webkit-linear-gradient(top, rgb(225,255,255) 0%,rgb(225,255,255) 7%,rgb(225,255,255) 12%,rgb(253,255,255) 12%,rgb(230,248,253) 30%,rgb(200,238,251) 54%,rgb(190,228,248) 75%,rgb(177,216,245) 100%);
	color: rgb(0, 0, 0);
	height: 130px;
	box-shadow: 10px 0 10px grey;
	width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
    z-index: 100;
}

/* ///////////////////////////// */

/* Menu Nav */

.iconos{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.iconos  a{
    letter-spacing: 1.7px;
    margin-left:1rem;
}


nav a {
    color: inherit;
    text-decoration: none;
}
nav{
    height: auto; /*Junto a overflow: hidden; aplicará a nuestro elemento nav el mismo alto que el más alto de sus elementos hijos */ 
    margin: 0 auto; /* Centro el contenedor */
    overflow: hidden;
    text-align: center;
    width: 100%; /* Defino el ancho de mi página */
}
ul{
    float: inherit;
    list-style-type: none; /* Elimino los estilos de lista */
    padding: 0; 
}
li{
    float: left; /* Floto los li para que se dispongan horizontalmente */
    font-family: 'Oswald', sans-serif;
    display: inline-block;
}
li a{
    padding: 25px; /* El padding añadirá separación entre los elementos */
    font-family: 'Swanky and Moo Moo', cursive;
    font-style: italic;
    font-size: 24px;;
}
a:hover{
    color:rgb(20, 82, 124);
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
/* Menu Nav */

/* SUBMenu Nav */
li ul { /* El segundo nivel del menú oculto*/
    display: none;
}
li:hover > ul { /* El segundo nivel del menú se muestra */
    display: block;
    position: absolute;
}

/* SUBMenu Nav */


.quever_2{
    margin-top: 8rem;
    display:block;
    background-image: url(../assets/cielo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: #b3ffa0; */
    width: 100%;
    padding-block-end: 2rem;
    padding-inline-start: 2rem;
    padding-inline-end: 2rem;

}
.quever_2 header {
    padding: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family: "standorf";
    font-size: 4rem;
    text-align: center;
    padding: 3rem 1rem 1rem 2rem;
}  

p {
    font-family: cursive;
    line-height: 1.5rem;
}
.section_1{
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #f09433; 
    max-width: 60%;  
/*     margin-inline-start: 6rem;
    margin-inline-end: 6rem; */
    padding: 1rem; 
}
.section_1 p::first-letter{
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(32, 147, 214);
}
.title{
    text-align: center;
    font-family: 'Swanky and Moo Moo', cursive;
    font-size: 2rem;
    margin: 0;
    letter-spacing: 1.2px;
}
.video{
    display: flex;
    justify-content: center;
}


.main_table{

    
}

.tg  {
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-collapse:collapse;
    border-spacing:0;    
    justify-self: center;
    width: 80%;
    text-align: center;
}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-xldj{border-color:inherit;text-align:left}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}
/* Filas pares */

.tg>tbody>tr:nth-of-type(even){
    background-color: rgb(49, 190, 255);
}
/* Filas impares */
.tg>tbody>tr:nth-of-type(odd){
    background-color: rgb(152, 253, 131);
}
.tg>tbody>tr{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.slider {
	width:60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.slider div{
    margin-left: 15%;
    margin-right: 15%;
}
.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 15s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
    width: 600px; 
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.main_footer{
    background: linear-gradient(340deg, #3ea4d4, #3ee9ea);
    background-size: 400% 400%;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2rem;
    height: block;
    border: 1px solid;
}
.main_footer aside ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main_footer aside li{
    display: inline-block;
    padding-inline-end: 0px;
    padding-inline-start: 0px;
}
.main_footer aside a{
    display: block;
}
.iframe_footer {
    width: 100%;
    height: 20vh;
    border: none;
}

span{
    text-align: center;
}

@media screen and (max-width: 480px) {
    body{
     margin:0;
     }
   
 }


@media screen and (max-width: 600px) {
    body{
     margin:0;
     }
   
 }
 @media screen and (max-width: 800px) {
    body{
     margin:0;
     }
   
 }
